nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo{
    width: 130px;
    
}

.nav-left i {
    font-size: 30px;
    margin-right: 25px;

}

.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .search-box button{
    border: 0;
    outline: 0;
    width: 15px;
    background: transparent;
}

.nav-right i{
    width: 25px;
    margin-right: 25px;
    font-size: 24px;
}

.nav-right .profile{
    width: 35px;
    margin-right: 25px;
}

.bi-upload{
    cursor: pointer;
}

.nav-right .profile{
    width: 35px;
    height: 35px; /* Ensures the height is equal to the width for a perfect circle */
    margin-right: 25px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the area without stretching */
}