*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

a{
  text-decoration: none;
  color: #5a5a5a;
}
img{
  cursor: pointer;
}
.flex-div{
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
